# Exclude all
*

# File patterns to include
!*.py
!*.md
!*.yaml

# Files to include
!UNLICENSE
!.travis.yml
!.gitignore
!docker-compose.yml

# Directories to include
!config/
!custom_components/
!*/custom_components/switch/

# Files to exclude
secrets.yaml
known_devices.yaml
